@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  color: white;
}
a{
  text-decoration: none;
}
p{
  /* width: 80%;
  padding: 10px; */
}
#splash{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url('./../../public/assets/lucid-background2.jpeg');
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5.5em;
  height: 500px;
}

.fa-chevron-circle-down{
  margin-top: 15px;
  font-size: 50px;
  opacity: 0.7;
  cursor: pointer;
}

h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
/* .navBar{
  padding: 50px;
  text-align: right;
}
.navBar a{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: white;
  text-transform: uppercase;
  transition: all .4s ease;
}
.navBar a:hover{
  color: black;
} */
#logo{
  width: 60%;
}
button{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  width: 250px;
  height: 35px;
  /* background-color: Transparent; */
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: all .4s ease;
}
button:focus{
  outline: none;
}
button:hover{
  background-color: black;
  color: white;
}
ul{
  list-style: none;
}

.content{
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

/* * Extra small devices (portrait phones, less than 576px) */
/* * No media query for `xs` since this is the default in Bootstrap */

/* * Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* * Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1, h2, h3{
    letter-spacing: .2em;
  }
  .content{
    padding: 40px;
  }
}

/* * Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #splash{
    height: 700px;
  }
  h1, h2, h3{
    letter-spacing: .3em;
  }
  .content{
    padding: 100px;
  }
}

/* * Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #splash{
    height: 850px;
  }
}