@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  color: white;
}
a{
  text-decoration: none;
}
p{
  width: 60%;
  padding: 10px;
}
#splash{
  /* background-image: url('./../../public/assets/lucid-background.jpeg'); */
  background-image: url('./../../public/assets/lucid-background2.jpeg');
  height: 800px;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .5em;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.navBar{
  padding: 50px;
  text-align: right;
}
.navBar a{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: white;
  text-transform: uppercase;
  transition: all .4s ease;
}
.navBar a:hover{
  color: black;
}
#logo{
  width: 60%;
}
button{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  width: 250px;
  height: 35px;
  /* background-color: Transparent; */
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: all .4s ease;
}
button:focus{
  outline: none;
}
button:hover{
  background-color: black;
  color: white;
}
ul{
  list-style: none;
}

.content{
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-flow: column;
}