@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

* {
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}
a{
  text-decoration: none;
  color: white; 
}
#splash{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url('./../../public/assets/lucid-background2.jpeg');
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.fa-angle-double-down{
  margin-top: 15px;
  font-size: 30px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 1s ease;
}
@keyframes jump { 0% { top: 0; } 50% { top: 50px; } 100% { top: 0; } }
#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 5s infinite;
}
.fa-angle-double-down:hover {
  color: black;
}

h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: white;
  text-transform: uppercase;
  padding: 20px; 
}
h2{
  padding-top: 100px;
}
.navBar{
  text-align: right;
  margin-right: 75px;
  margin-top: 40px;
  width: 100%;
}
.navBar a{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .3em;
  color: white;
  text-transform: uppercase;
  transition: all 1s ease;
}
.navBar a:hover{
  color: black;
}
#logo{
  width: 75%;
}
button{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  width: 250px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
  /* REMOVE: */
  margin: 10px;
}
button:focus{
  outline: none;
}
button:hover{
  background-color: black;
  color: white;
}

.content{
  text-align: center;
  display: flex;
  flex-flow: column;
  margin-top: 100px;
}

/* * Extra small devices (portrait phones, less than 576px) */
/* * No media query for `xs` since this is the default in Bootstrap */

/* * Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* * Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1, h2, h3{
    letter-spacing: .2em;
  }
  .content{
    padding: 40px;
  }
}

/* * Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #splash{
    height: 600px;
  }
  h1, h2, h3{
    letter-spacing: .3em;
  }
  .content{
    padding: 0px 100px 25px; 
  }
}

/* * Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #splash{
    height: 700px;
  }
}
