#lucid-setup{
  color: white;
}

#table-setup{
  border: 1px solid white;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1em;
}

th{
  border: 1px solid white;
  padding: 5px 30px;
  text-align: center;
}

td {
  border: 1px solid white;
  padding: 5px 10px;
  text-align: left;
}

.strong{
  color: red;
  font-weight: 800;
}

/* * Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #table-setup{
    width: 80%;
  }
}